include LICENSE
include MANIFEST.in
include README.md

recursive-include mixstream *.c
recursive-include mixstream *.h
recursive-include mixstream *.pyx
recursive-include tests *.py

prune mixstream/_MixStream.c
